beautifulsoup4==4.6.3
Flask==1.0.2
google-api-core==1.7.0
google-api-python-client==1.7.8
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-cloud-core==0.29.1
google-cloud-storage==1.14.0
joblib==0.14.1
lxml==4.2.5
pandas==1.0.1
regex==2018.1.10
requests==2.21.0
spacy==2.2.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#en_core_web_sm#egg=en_core_web_sm==2.2.5