
@import url('https://fonts.googleapis.com/css?family=Arvo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')


/* For Tablets */
@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .grid-text-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

html {
  background-image: url('../fondo.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  font-family: 'Arvo', sans-serif;
}

a {
  color: #3b6bad;
}

a:hover {
  color: #dd28d0;
}

a:active {
  color: #19affa;
}

.sm_screen {
  background-image: url('../fondo_movil.png');
  background-repeat: repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  }


.guide_html {
    background-image: url('../modal_back_img.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    font-family: 'Arvo', sans-serif;
}

.acceso {
  background-image: url('../pass_portal.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cuprum', sans-serif;
  }
  
.full_screen, .reduce_screen {
    position: absolute;
    right: 2vw;
    bottom: 1vw;
    cursor: pointer;
    &:hover, &:focus { 
        transform: scale(1.4);
        transition: all ease 500ms;
    }
}


.reduce_screen {
     visibility: hidden;
 }

div.background {
    opacity: 1;
}


video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.text-excerpt {
    line-height: 1.3em;
    font-family: 'Cuprum', sans-serif;
    text-align: justify;
    direction: ltr;
}

.text-excerpt-ar {
    line-height: 1.9em;
    font-family: 'El Messiri', sans-serif;
    text-align: justify;
    direction: rtl;
}

.text-excerpt, .text-excerpt-ar {
    font-size: calc(6px + (21 - 6) * ((100vw - 300px) / (1600 - 300)));
}

.text-idea {
    font-size: calc(6px + (25 - 6) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    padding: 1.5em;
    line-height: 4vh; 
    &::first-letter {
      font-size: 2.5em;
      font-family: 'Lavishly Yours', cursive;
    }
}

.wally_stats {
    line-height: 1.3em;
    text-align: justify;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
   	font-size: 2.2vmin;
}

.adelantum {
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
    position: absolute;
    top: 22vh;
    left: 25%;
    right: 25%;
    bottom: auto;
}


.text-idea-content div {
    font-size: 1.97vmin;
    line-height: 3.2vh; 
    text-align: justify;
}

.text-idea-content img {
    position: fixed;
    max-width: 40vw;
    max-height: 40vh;
    float: center;
    margin: 1em;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.guide_message {
    position: absolute;
    padding: 0em 1.75em 1.5em 0em;
    self-align: center;
    opacity: 0;
    line-height: 3.3vh; 
}

.map_form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: calc(15px + (25 - 15) * ((100vw - 1000px) / (1600 - 1000))) calc(2px + (50 - 2) * ((100vw - 1000px) / (1600 - 1000))) 2vh calc(2px + (50 - 2) * ((100vw - 1000px) / (1600 - 1000)));
    grid-gap: calc(5px + (43 - 5) * ((100vw - 1500px) / (1600 - 1500)));
}

.color_feast {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.colors {
    grid-column: 1;
    grid-row: 1;
}

.color_labels {
    grid-column: 2;
    grid-row: 1;
}

.colorlabel {
    font-size: calc(8px + (21 - 8) * ((100vw - 300px) / (1600 - 300)));
    margin: 1.7em 0.7em 1.8em 0em;
  }

.color {
  height: calc(7px + (38 - 7) * ((100vw - 300px) / (1600 - 300)));
  width: calc(7px + (38 - 7) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.35em 0em 1.35em .1em;
  border-radius: 50%;
  border: 3px solid #21336480;
  cursor: pointer;
}

.tiles, .back_image { 
    position: absolute;
    grid-row: 1;
    grid-column: 2 / span 2;
    align-self: center;
    width: 420px;
    height: 240px;
}

.back_image { 
    z-index: -1;
}

.eval {
    height: 57px;
    width: 57px;
}
 
rect {
    height: 57px;
    width: 57px;
    fill: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover, &:focus {
        fill: rgba(33, 51, 69, .25);
        }
}

.tile.ishidden {
    cursor: not-allowed;
    &:hover, &:focus {
        fill: transparent;
        }
}

.highlight {
  stroke-width: 3px;
  stroke: rgba(33, 51, 69, .8);
}

.submit_btn {
    position: relative;
    height: 40%;
    width: 100%;
    margin: 2em 0em;
    grid-column: -1;
    grid-row: 1;
    background: linear-gradient(0.25turn, #21336490, #66d9ff80, #21336490);
    box-shadow: inset 0 0 10px 10px #5e768070, inset 0 0 3px 2px #ffffcc90;
    border: none;
    text-decoration: none;
    border-radius: 8%;
    align-self: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    
    &:hover, &:focus {
        background: linear-gradient(to right, #21336490, #66d9ff90);
        background-slice: 1;
        box-shadow: inset 0 0 10px 7px #ffffcc90, inset 0 0 3px 2px #ffffcc75;
        }
}

.submit_btn img {
    width: calc(10px + (90 - 10) * ((100vw - 300px) / (1600 - 100)));
    height: calc(10px + (90 - 10) * ((100vw - 300px) / (1600 - 100)));
    display: inline-block;
}

.highlit_span {
    background: transparent;
    color: black;
}

.trigger {
    border-bottom: 3px solid #9b9b9b;
    cursor: pointer;
    transition: all .3s ease-in-out;

    }

.trigger:hover,
.trigger:focus {
    border-image: linear-gradient(to left, #56a4fc, #012042);
    border-image-slice: 1;
    padding: 0em .3em 0em .3em;
    transition: all .3s ease-in-out;
    }
    
    
body:has(.trigger[id^="1"]:hover, .trigger[id^="1"]:focus) .highlit_span[id^="1"] {
    background: #364d6e;
    color: white;
    padding: 0em .3em 0em .3em;
    border-radius: 5px;
    opacity: .75;
    transition: all .3s ease;

}

body:has(.trigger[id^="2"]:hover, .trigger[id^="2"]:focus) .highlit_span[id^="2"] {
    background: #364d6e;
    color: white;
    padding: 0em .3em 0em .3em;
    border-radius: 5px;
    opacity: .75;
    transition: all .3s ease;
  }

.grid-container {
    display: grid;
    position: fixed;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}


.explainer{
    position: absolute;
    background-color: rgba(228, 236, 245, 0.75);
    border-radius: 12px;
    box-shadow: 0px 50px 100px -20px rgba(59, 72, 97, 0.3), 0px 30px 60px -30px rgba(0, 0, 0, 0.4), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.45);
    top: 10%;
    bottom: 10%;
    left: calc(5px + (310 - 5) * ((100vw - 300px) / (1600 - 300)));
    right: calc(5px + (310 - 5) * ((100vw - 300px) / (1600 - 300)));
    padding: 2vw;
    font-size: 1.4em;
    line-height: 1.3em;
    font-family: 'Cuprum', sans-serif;
    z-index: -33;
    display: grid;
    grid-template-rows: max-content max-content;
    justify-content: center;
    align-items: center;
}


.loading {
    position: fixed;
    height: 10vh;
    width: 10vw;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.boxplot_graph {
    align-self: center;
    position: relative;
}

.stats_graph {
    position: relative;
    display: grid;
    grid-template-rows: max-content max-content;
    justify-content: center;
  }

.stats_graph > img { 
  	z-index: -1;
  	position: relative;
  	height: 47vh;
  	width: 50vw;
  	margin-left: auto;
  	margin-right: auto;
}


.general_stats_info { 
  	position: relative;
   	max-height: 100%;
   	max-width: 100%;
    text-align: justify;
    /*
    font-size: calc(13px + (18 - 13) * ((100vw - 200px) / (1600 - 200)));
    */
    font-size: 1.95vmin;
    line-height: 2.3vh; 
    text-align: justify;
    z-index: 1;
}

.hidden_concepts {
    position: absolute;
    align-self: center;
    width: 125%;
    height: 20%;
    left: -8vw;
    top: -2vw;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
        }

.hidden_concepts > div { 
    background-color: rgb(0, 0, 45, 0.8);
    color: white;
    position: relative;
    max-width: fit-content;
  	max-height: fit-content;
    line-height: 1.2em;
    font-weight: 200;
    text-align: justify;
    font-size: calc(6px + (17 - 6) * ((100vw - 300px) / (1600 - 300)));
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #69ccf0,
                0 0 0.8rem #69ccf0,
                0 0 2.8rem #69ccf0,
                inset 0 0 1.3rem #69ccf0;
    padding: 1em;
    z-index: 1;
    opacity: 0;
}

strong { 
  font-weight: bolder;
  color: #bbedfc;
}

.front{
	opacity: 0;
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 5em 1.5em rgb(255, 255, 230);
	transition: all .1s ease;
}

.grid-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.3em;
  grid-gap: 1.8em;  
}

.text-container {
    display: inline-block;
    background-color: rgba(228, 236, 245, 0.75);
    border-radius: 12px;
    box-shadow: 0 0 0 2px rgba(59, 72, 97, .75), 8px 8px 0 0 rgba(59, 72, 97, .75);
    text-align: center;
    padding: 2em 2em 0em 2em;
    width: inherit;
    height: inherit;
}

.followup-opts {
    position: inline-block;
    place-items: center;
    text-align: center;
    margin: 1em 0em 1em 0em;
}
  
.preguntas {
    width: 3.2em;
    cursor: pointer;
}

.preguntas:hover {
    transform: rotate(-0.5turn);
    transition: transform 0.6s;
}

.salida {
    position: fixed;
    transition: transform 0.3s ease;
    cursor: pointer;
    top: 46%;
    left: 48%;
    transform: translateX(0px);
    background-color: #fce1e190;
    border-radius: 50%;
    box-shadow: 0 0 25px 15px #fce1e190;
}

.salida:hover {
    transform: translateX(-15px);
}

.salida_ex {
    position: fixed;
    transition: transform 0.3s ease;
    cursor: pointer;
    left: 5%;
    top: 5%;
    background-color: #fce1e190;
    border-radius: 50%;
    box-shadow: 0 0 25px 15px #fce1e190;
    transform: translateX(0px);
}

.salida_ex:hover {
    transform: translateX(-15px);
}

.lupa {
    -webkit-filter: blur(2px);
    width: 4em;
    cursor: pointer;
}

.lupa:active,
.lupa:focus,
.lupa:hover {
    -webkit-filter: blur(0px);
    transition: .6s ease;
}

#moneda-ext {
    visibility: hidden;
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin: 0.2em 45% 0.2em 45%;
    place-items: center;
    text-align: center;
}

#moneda-int {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

#moneda-ext:hover #moneda-int {
  transform: rotateY(180deg);
}

.caraA, .caraB {
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.caraB {
  transform: rotateY(180deg);
}

#tc-quest {
    visibility: hidden;
}

#tc-trans2 {
    visibility: hidden;
}

#tc-org {
    visibility: hidden;
    padding: 2em;
}


.form__group {
  position: relative;
  padding: 15px 15px;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.form__field {
    font-family: inherit;
    width: 89%;
    margin: 0 .5em;
    border: 0;
    border-bottom: 3px solid #9b9b9b;
    outline: 0;
    color: #fff;
    padding: 5px 0;
    font-size: calc(6px + (21 - 6) * ((100vw - 300px) / (1600 - 300)));
    background: transparent;
    cursor: text;
    transition: all 0.3s ease-in-out;
    
    &::placeholder {
        color: white;
        opacity: 1;
        font-size: calc(5px + (19 - 5) * ((100vw - 300px) / (1600 - 300)));
    }
    
    &:placeholder-shown {
        top: 20px;
  }
}


.form__field:hover,
.form__field:focus {
    padding: .3em .5em .2em .5em;
    border-radius: 5px;
    border-width: 3px;
    border-image: linear-gradient(to left, #56a4fc, #012042);
    border-image-slice: 1;
    background: rgba(54, 77, 110, .30);
    width: 91%; 
}

.form__field{
  &:required,&:invalid { box-shadow:none; }
}


textarea {
    margin-top: 5%;
    width: 94%;
    height: 400px;
    rows: 10;
    padding: 1em;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    padding: 2em;
    line-height: 1.5em;
    font-family: 'Arvo', sans-serif;
    
    &:focus {
        outline: none;
        border-style: solid;
        border-width: 3px;
        border-image: linear-gradient(45deg, #56a4fc, #012042) 1;
        box-shadow: 0 0 10px #719ECE;
      }
}

.btn-thanks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin: 2vw 5vw 5vw;
}

.plane-btn{
    grid-column-start: 6;
    grid-column-end: 6;
    width: 64px;
    height: 64px;
    background-color: #2f9dd6;
    border-radius: 50%;
    box-shadow: -8px 10px 5px #587ba1;
    transition: all 0.3s ease-in-out;
    
    &:hover, &:focus {
        border-radius: 45% 2% 45% 35%;
        box-shadow: -10px 13px 10px #587ba1;
        transform: translate(7px, -7px)
        }
    }
    
.gracias {
    margin-top: 1.3em;
    margin-left: 3em;
    grid-column-start: 4;
    grid-column-end: 6;
    position: inline-block;
    visibility: hidden;
}

#planeform {
    position: relative;
    self-align: center;
    width: fit-content;
    height: fit-content;
    margin: 1.5em;
}

#feed_message {
    width: calc(25px + (850 - 25) * ((100vw - 50px) / (1600 - 50)));
    height: 42vh;
}
